

*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
.navUserSetting{
 text-decoration: none;
 color: white;



 @media (max-width: 425px) {
.App{
  margin: 0;
  padding: 0;
}
.sideBar,
.navNHeader{
  display: none;
}



.login{
  display: flex;
  width: 100%;
  height: 100%;
}


textarea:focus{
  border-bottom-color: #007bff;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.left-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #BACFC5;
}

.left-login img {
  max-width: 100%; 
  max-height: 100%;
}

.right-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-login p {
  font-size: 1.8rem;
  font-family: Amita;
}
.right-login form{
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-login h1{
  color: #6A7770;
  font-family: Leckerli One;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right-login div {
  margin-bottom: 1rem;
}
.right-login label {
  display: block;
  text-align: left;
  color: #000;
  font-family: 'IM FELL Great Primer SC';
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.right-login .input-wrapper input[type="text"],
.right-login .input-wrapper input[type="password"] {
  min-width: 18rem;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid lightgray;
  color: rgb(160, 160, 160);
}

.right-login button {
  width: 7rem;
  padding: 5px;
  background: #6A7770;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-family: Jaldi;
}

.right-login p {
  margin-top: 10px;
  color: rgb(122, 121, 121);
 
}

.right-login a {
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 17px;
}

.right-login a:hover {
  text-decoration: underline;
}



.home{
  padding: 0;
  margin: 0;
}
.home-toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2%;
  width: 100%;
}

.homeSecond{
  margin: 2% 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleSecond{
  display: flex;
  justify-content: center;
  gap: 2%;
  cursor: pointer;
}
.toggleSecond h2{
  font-family: Leckerli One;
  color: #606A65;
}
.toggleSecond button{
  background: none;
  border: none;
  
}

.line,
.doughnut{
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
}

.counts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2%;
}

.counts > div {
  width: 30%; 
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #fff; 
  font-size: 0.8rem; 
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.counts > div:nth-child(1) {
  background: rgba(246, 200, 82, 0.65);
}

.counts > div:nth-child(2) {
  background: #E8FDF2;
  color: #6A7770;
}

.counts > div:nth-child(3) {
  background-color: #8ca096;
}

.counts > div:nth-child(4) {
  background: #FFF;
  color: #6A7770;
}

.counts > div:nth-child(5) {
  background: rgba(123, 150, 212, 0.67);
}

.counts > div:last-child {
  align-self: flex-end;
  margin-top: auto;
}
.weatherMain img{
  max-width: 9rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}
.weatherMain p{
  font-family: JetBrains Mono;
  font-size: 1rem;
  position: relative;
  top: 3rem;
  right: 3rem;
}
.weatherMain h1{
  font-family: Jua;
  font-size: 2.5rem;
  position: relative;
  left: 4rem;
  
}
.weatherMain h2{
  position: relative;
  bottom: 1.5rem;
}
.weatherBox{
  background-color: rgba(140, 160, 150, 0.6);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 4px rgb(255, 255, 255, 0.6);
  height: 18rem;
  width: 100%;
  margin-bottom: 10%;
}
.dropdown{
  background-color: rgba(255, 255, 255, 0.397);
  height: 100%;
  width: 100%;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.options{
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
  padding: 1% 0%;
  
}
div.options ul{
  list-style: none;
}
div.options a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;

}
.charts{
  max-width: 20rem;
}






.mainMood{
  width: 100%;
  height: 100%;
}

.mood-button{
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #6A7770;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.biggerEmojiButton{
  font-size: 2rem;
}
.mood{
  margin-top: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moodButtons{
  display: flex;
  justify-content: center;
}
.mood-input{
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  border: none;
}
.mood-inputNbutton{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mood-inputNbutton button{
  background: white;
  margin-top: 0.7rem;
  max-width: 100%;
  height: 2rem;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.mainMoodList{
  width: 100%;
  margin-top: 3rem;
  background-color: #7b96d446;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.mood-list{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eachMood{
  height: 100%;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}  
.p-5{
  color: white;
  background: #7B96D4;
  border: black 2px solid;
}
div#dropdown.dropdown{
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
}






.mainJournal{
  max-width: 100%;
  height: 100%;
  
}
.date-select{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainJournal h1{
  color: rgb(66, 79, 66);
  font-size: 1.5rem;
  text-align: center;
}
.howareyou{
   font-family: IM FELL Great Primer SC;
   font-size: 2rem;
   text-align: left;
   text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
.journal{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 4rem;
  margin-top: 1.7rem; 
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journalList{
  width: 100%;
  padding: 0.5rem;
  background: rgba(120, 134, 127, 0.981);
  height: 100%;
}
.eachJournal{
  width: 100%;
  max-height: 100%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  max-width: 100%;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  line-height: 1.5;
  font-size: 0.8rem;
}


.eachJournal p{
  max-width: 100%;
  overflow-wrap: break-word;
  padding-bottom: 3.5rem;
  
}
.eachJournal p.index{
  text-align: center;
}
.journalStack{
max-height: 100%;
}
.journalListMain{
  max-height: 100%;
  width: 100%;
}
.p-5{
  background: #7B96D4;
  color: white;
  border: black 2px solid;
}
.notebook-input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.notebook-input textarea{
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.notebook-input button{
  background: white;
  max-width: 100%;
  height: 2.2rem;
  font-size: 0.9rem;
  margin-top: 0.8rem;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.journalEntry select{
  height: 2rem;
}
.randomQuotes{
  background: rgb(120, 139, 120, 0.6);
  max-height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  padding: 0.9rem;
  margin-top: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.randomQuotes h3{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}

.journalStack{
  width: 100%;

}
 .textarea-edit{
  min-width: 18rem;
  font-size: 0.7rem;
}
.journalStack button{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.eachJournal form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.userSettingBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding: 0.8rem;
  width: 100%;
}
div.userSettingBox{
  max-width: 100%;
}
.userSettingBody label{
  display: none;
}
.theme-buttons button{
  width: 10rem;
  height: 6rem;
  border: 1px solid lightgray;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.theme-buttons img{
  width: 10rem;
  height: 6rem;
}
 .nav-buttons div{
  display: flex;
  flex-direction: row;
} 
.navButtons{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  gap: 2rem;

}
.theme-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settingContent input{
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  border: lightgray solid 1px;
  border-radius: 0.3rem;
}
.settingContent form button{
  background: rgb(238, 238, 238);
  border: 1px lightgray solid;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
  margin-right: 1rem;
  height: 2rem;
}
.account-info img{
  width: 2.5rem;
}
}


 @media (min-width: 426px) and (max-width: 700px) {
  .App{
    margin: 0;
    padding: 0;
  }
  .sideBar,
  .navNHeader{
    display: none;
  }
  .home{
    padding: 0;
    margin: 0;
  }


  /* .login{
    display: flex;
    width: 100%;
    height: 100%;
  } */
  
  
  textarea:focus{
    border-bottom-color: #007bff;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .left-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #BACFC5;
  }
  
  .left-login img{
    width: 100%; 
  }
  
  .right-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-login p {
    font-size: 0.9rem;
    font-family: Amita;
  }
  .right-login form{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-login h1{
    color: #6A7770;
    font-family: Leckerli One;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .right-login div {
    margin-bottom: 1rem;
  }
  .right-login label {
    display: block;
    text-align: left;
    color: #000;
    font-family: 'IM FELL Great Primer SC';
    font-size: 0.7rem;
  }
  
  .right-login .input-wrapper input[type="text"],
  .right-login .input-wrapper input[type="password"] {
    min-width: 13rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    color: rgb(160, 160, 160);
  }
  
  .right-login button {
    width: 7rem;
    padding: 5px;
    background: #6A7770;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    font-family: Jaldi;
  }
  
  .right-login p {
    margin-top: 10px;
    color: rgb(122, 121, 121);
   
  }
  
  .right-login a {
    color: rgb(112, 112, 112);
    text-decoration: none;
    font-size: 17px;
  }
  
  .right-login a:hover {
    text-decoration: underline;
  }
  


  .home-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2%;
    width: 100%;
  }
  
  .homeSecond{
    margin: 2% 1%;
     display: flex;
    justify-content: center;
    align-items: center; 
  }
  .toggleSecond{
    display: flex;
    justify-content: center;
    gap: 2%;
    cursor: pointer;
  }
  .toggleSecond h2{
    font-family: Leckerli One;
    color: #606A65;
  }
  .toggleSecond button{
    background: none;
    border: none;
  }
  .line,
  .doughnut{
    margin-bottom: 10%;
    margin-top: 10%;
    min-width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .charts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .counts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 50%;
  }
  
  .counts > div {
    width: 6rem; 
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #fff; 
    font-size: 0.8rem; 
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  .counts > div:nth-child(1) {
    background: rgba(246, 200, 82, 0.65);
  }
  
  .counts > div:nth-child(2) {
    background: #E8FDF2;
    color: #6A7770;
  }
  
  .counts > div:nth-child(3) {
    background-color: #8ca096;
  }
  
  .counts > div:nth-child(4) {
    background: #FFF;
    color: #6A7770;
  }
  
  .counts > div:nth-child(5) {
    background: rgba(123, 150, 212, 0.67);
  }
  
  .counts > div:last-child {
    align-self: flex-end;
    margin-top: auto;
  }
  .weatherMain img{
    max-width: 9rem;
    position: relative;
    top: 4rem;
    left: 2rem;
  }
  .weatherMain p{
    font-family: JetBrains Mono;
    font-size: 1rem;
    position: relative;
    top: 3rem;
    right: 3rem;
  }
  .weatherMain h1{
    font-family: Jua;
    font-size: 2.5rem;
    position: relative;
    left: 4rem;
    
  }
  .weatherMain h2{
    position: relative;
    bottom: 1.5rem;
  }
  .weatherBox{
    background-color: rgba(140, 160, 150, 0.6);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px rgb(255, 255, 255, 0.6);
    height: 18rem;
    min-width: 300px;
    margin-bottom: 10%;
  }
  .dropdown{
    background-color: rgba(255, 255, 255, 0.397);
    height: 100%;
    width: 100%;
    padding: 1% 5%;
    font-size: 1.3rem;
  }
  .options{
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    padding: 1%;
  }
  div.options ul{
    list-style: none;
  }
  div.options a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }

  
  .weatherNCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainMood{
    width: 100%;
    height: 100%;
  }
  
  .mood-button{
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #6A7770;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  }
  .biggerEmojiButton{
    font-size: 2rem;
  }
  .mood{
    margin-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .moodButtons{
    display: flex;
    justify-content: center;
  }
  .mood-input{
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border: none;
  }
  .mood-inputNbutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .mood-inputNbutton button{
    background: white;
    margin-top: 0.7rem;
    max-width: 100%;
    height: 2rem;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .mainMoodList{
    width: 100%;
    margin-top: 3rem;
    background-color: #7b96d446;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }
  .mood-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  .eachMood{
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
 
  }  
  .p-5{
    color: white;
    background: #7B96D4;
    border: black 2px solid;
  }
  div#dropdown.dropdown{
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
  }
  
  
  
  
  
  
  .mainJournal{
    max-width: 100%;
    height: 100%;
  
  }
  .date-select{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainJournal h1{
    color: rgb(66, 79, 66);
    font-size: 1.5rem;
    text-align: center;
  }
  .howareyou{
     font-family: IM FELL Great Primer SC;
     font-size: 2rem;
     text-align: left;
     text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }
  .journal{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4rem;
    margin-top: 1.7rem; 
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .journalList{
    width: 27.5rem;
    padding: 0.5rem;
    background: rgba(120, 134, 127, 0.981);
    height: 100%;
  }
  .eachJournal{
    width: 100%;
    max-height: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    line-height: 1.5;
    font-size: 0.8rem;
  }
  .eachJournal p{
    max-width: 100%;
    overflow-wrap: break-word;
    padding-bottom: 3.5rem;
    
  }
  .eachJournal p.index{
    text-align: center;
  }
  .journalStack{
  max-height: 100%;
  }
  .journalListMain{
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-5{
    background: #7B96D4;
    color: white;
    border: black 2px solid;
  }
  .notebook-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .notebook-input textarea{
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .notebook-input button{
    background: white;
    max-width: 100%;
    height: 2.2rem;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }
  .journalEntry select{
    height: 2rem;
  }
  .randomQuotes{
    background: rgb(120, 139, 120, 0.6);
    max-height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    padding: 0.9rem;
    margin-top: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 26rem;
  }
  .randomQuotes h3{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
  }
  
  .journalStack{
    width: 100%;
  
  }
   .textarea-edit{
    min-width: 18rem;
    font-size: 0.7rem;
  }
  .journalStack button{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .eachJournal form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .userSettingBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding: 0.8rem;
    width: 100%;
  }
  div.userSettingBox{
    max-width: 100%;
  }
  .userSettingBody label{
    display: none;
  }
  .theme-buttons button{
    width: 10rem;
    height: 6rem;
    border: 1px solid lightgray;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .theme-buttons img{
    width: 10rem;
    height: 6rem;
  }
   .nav-buttons div{
    display: flex;
    flex-direction: row;
  } 
  .navButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 2rem;
  
  }
  .theme-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .settingContent input{
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    border: lightgray solid 1px;
    border-radius: 0.3rem;
  }
  .settingContent form button{
    background: rgb(238, 238, 238);
    border: 1px lightgray solid;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    height: 2rem;
  }
  .account-info img{
    width: 2.5rem;
  }
  
}   

@media (min-width: 701px) and (max-width: 1023px){
  .App{
    margin: 0;
    padding: 0;
  }
  .sideBar,
  .navNHeader{
    display: none;
  }


  .login{
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  
  textarea:focus{
    border-bottom-color: #007bff;
  }
  
  .login {
    display: flex;
    height: 100vh;
  
  }
  
  .left-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #BACFC5;
  }
  
  .left-login img {
    max-width: 100%; 
    max-height: 100%;
  }
  
  .right-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .right-login p {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-family: Amita;
  }
  .right-login form{
    width: 80%;
    padding: 1.7rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-login h1{
    color: #6A7770;
    font-family: Leckerli One;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .right-login div {
    margin-bottom: 1rem;
  }
  
  .right-login label {
    display: block;
    text-align: left;
    /* margin-left: 80px; */
    margin-bottom: 10px;
    color: #000;
    font-family: 'IM FELL Great Primer SC';
  }
  
  .right-login .input-wrapper input[type="text"],
  .right-login .input-wrapper input[type="password"] {
    width: 16rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    color: rgb(160, 160, 160);
  }
  
  .right-login button {
    width: 150px;
    padding: 5px;
    background: #6A7770;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    font-family: Jaldi;
  }
  
  .right-login p {
    margin-top: 10px;
    color: rgb(122, 121, 121);
   
  }
  
  .right-login a {
    color: rgb(112, 112, 112);
    text-decoration: none;
    font-size: 17px;
  }
  
  .right-login a:hover {
    text-decoration: underline;
  }
  
  




  .home{
    padding: 0;
    margin: 0;
  }
  .home-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2%;
    width: 100%;
  }
  
  .homeSecond{
    margin: 2% 1%;
     display: flex;
    justify-content: center;
    align-items: center; 
  }
  .toggleSecond{
    display: flex;
    justify-content: center;
    gap: 2%;
    cursor: pointer;
  }
  .toggleSecond h2{
    font-family: Leckerli One;
    color: #606A65;
  }
  .toggleSecond button{
    background: none;
    border: none;
  }
  canvas{
    margin-bottom: 10%;
    margin-top: 10%;
    width: 200%;
  }
  .charts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 700px;
  }
  .counts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 22rem;
  }
  
  .counts > div {
    width: calc(30% - 5px);
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #fff; 
    font-size: 0.8rem; 
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  
  .counts > div:nth-child(1) {
    background: rgba(246, 200, 82, 0.65);
  }
  
  .counts > div:nth-child(2) {
    background: #E8FDF2;
    color: #6A7770;
  }
  
  .counts > div:nth-child(3) {
    background-color: #8ca096;
  }
  
  .counts > div:nth-child(4) {
    background: #FFF;
    color: #6A7770;
  }
  
  .counts > div:nth-child(5) {
    background: rgba(123, 150, 212, 0.67);
  }
  
  .counts > div:last-child {
    align-self: flex-end;
    margin-top: auto;
  }
  .weatherMain img{
    max-width: 9rem;
    position: relative;
    top: 4rem;
    left: 2rem;
  }
  .weatherMain p{
    font-family: JetBrains Mono;
    font-size: 1rem;
    position: relative;
    top: 3rem;
    right: 3rem;
  }
  .weatherMain h1{
    font-family: Jua;
    font-size: 2.5rem;
    position: relative;
    left: 4rem;
    
  }
  .weatherMain h2{
    position: relative;
    bottom: 1.5rem;
  }
  .weatherBox{
    background-color: rgba(140, 160, 150, 0.6);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px rgb(255, 255, 255, 0.6);
    height: 18rem;
    width: 50%;
    margin-bottom: 10%;
  }
  .dropdown{
    background-color: rgba(255, 255, 255, 0.397);
    height: 100%;
    width: 100%;
    padding: 1% 5%;
    font-size: 1.3rem;
  }
  .options{
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    padding: 1%;
  }
  div.options ul{
    list-style: none;
  }
  div.options a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }

  
  .weatherNCount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .mainMood{
    width: 100%;
    height: 100%;
  }
  
  .mood-button{
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #6A7770;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
  }
  .biggerEmojiButton{
    font-size: 2rem;
  }
  .mood{
    margin-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .moodButtons{
    display: flex;
    justify-content: center;
  }
  .mood-input{
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border: none;
  }
  .mood-inputNbutton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .mood-inputNbutton button{
    background: white;
    margin-top: 0.7rem;
    max-width: 100%;
    height: 2rem;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .mainMoodList{
    width: 100%;
    margin-top: 3rem;
    background-color: #7b96d446;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }
  .mood-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .eachMood{
    height: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }  
  .p-5{
    color: white;
    background: #7B96D4;
    border: black 2px solid;
  }
  div#dropdown.dropdown{
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
  }
  
  
  
  
  
  
  .mainJournal{
    max-width: 100%;
    height: 100%;
    
  }
  .date-select{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainJournal h1{
    color: rgb(66, 79, 66);
    font-size: 1.5rem;
    text-align: center;
  }
  .howareyou{
     font-family: IM FELL Great Primer SC;
     font-size: 2rem;
     text-align: left;
     text-shadow: 2px 2px 4px rgb(255, 255, 255);
  }
  .journal{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 4rem;
    margin-top: 1.7rem; 
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .journalList{
    width: 31.5rem;
    padding: 0.5rem;
    background: rgba(120, 134, 127, 0.981);
    height: 100%;
  }
  .eachJournal{
    width: 100%;
    max-height: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
    max-width: 100%;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    line-height: 1.5;
    font-size: 0.8rem;
  }
  
  
  .eachJournal p{
    max-width: 100%;
    overflow-wrap: break-word;
    padding-bottom: 3.5rem;
    
  }
  .eachJournal p.index{
    text-align: center;
  }
  .journalStack{
  max-height: 100%;
  }
  .journalListMain{
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-5{
    background: #7B96D4;
    color: white;
    border: black 2px solid;
  }
  .notebook-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .notebook-input textarea{
    box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .notebook-input button{
    background: white;
    max-width: 100%;
    height: 2.2rem;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  }
  .journalEntry select{
    height: 2rem;
  }
  .randomQuotes{
    background: rgb(120, 139, 120, 0.6);
    max-height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
    padding: 0.9rem;
    margin-top: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
  }
  .randomQuotes h3{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
  }
  
  .journalStack{
    width: 100%;
  
  }
   .textarea-edit{
    min-width: 18rem;
    font-size: 0.7rem;
  }
  .journalStack button{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .eachJournal form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .userSettingBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 2rem;
    padding-bottom: 2rem;
    padding: 0.8rem;
    width: 100%;
  }
  div.userSettingBox{
    max-width: 100%;
  }
  .userSettingBody label{
    display: none;
  }
  .theme-buttons button{
    width: 10rem;
    height: 6rem;
    border: 1px solid lightgray;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .theme-buttons img{
    width: 10rem;
    height: 6rem;
  }
   .nav-buttons div{
    display: flex;
    flex-direction: row;
  } 
  .navButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    gap: 2rem;
  
  }
  .theme-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  
  .settingContent input{
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    border: lightgray solid 1px;
    border-radius: 0.3rem;
  }
  .settingContent form button{
    background: rgb(238, 238, 238);
    border: 1px lightgray solid;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.1);
    margin-right: 1rem;
    height: 2rem;
  }
  .account-info img{
    width: 2.5rem;
  }
  
}




@media screen and (min-width: 1024px) {
.options{
 background: none;
}
div.home-toggle{
  display: none;
}
  #root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  
}
.app{
  width: 100%;
  height: 100%;
}
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  
}

  


.login{
  display: flex;
  width: 100%;
  height: 100%;
}


textarea:focus{
  border-bottom-color: #007bff;
}

.login {
  display: flex;
  height: 100vh;

}

.left-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #BACFC5;
}

.left-login img {
  max-width: 100%; 
  max-height: 100%;
}

.right-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.right-login p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-family: Amita;
}
.right-login form{
  width: 80%;
  padding: 1.7rem;
  border-radius: 0.5rem;
}
.right-login h1{
  color: #6A7770;
  font-family: Leckerli One;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right-login div {
  margin-bottom: 1rem;
}

.right-login label {
  display: block;
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px;
  color: #000;
  font-family: 'IM FELL Great Primer SC';
}

.right-login .input-wrapper input[type="text"],
.right-login .input-wrapper input[type="password"] {
  width: 65%;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid lightgray;
  color: rgb(160, 160, 160);
}

.right-login button {
  width: 150px;
  padding: 5px;
  background: #6A7770;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-family: Jaldi;
}

.right-login p {
  margin-top: 10px;
  color: rgb(122, 121, 121);
 
}

.right-login a {
  color: rgb(112, 112, 112);
  text-decoration: none;
  font-size: 17px;
}

.right-login a:hover {
  text-decoration: underline;
}






.home{
  width: 100%;
  height: 100%;

}
.graphnWeather{
  display: flex;
  margin-left: 250px;
  gap: 2rem;
}
.weatherBox {
  height: 300px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 10px;
  background-size: cover; 
  background-position: center center;  
   background-color: rgba(140, 160, 150, 0.6);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.counts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 90px;
  width: 22rem;
}


.counts > div {
  width: calc(35% - 1rem); 
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #fff; 
  font-size: 20px; 
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.counts > div:nth-child(1) {
  background: rgba(246, 200, 82, 0.65);
}

.counts > div:nth-child(2) {
  background: #E8FDF2;
  color: #6A7770;
}

.counts > div:nth-child(3) {
  background-color: #8ca096;
}

.counts > div:nth-child(4) {
  background: #FFF;
  color: #6A7770;
}

.counts > div:nth-child(5) {
  background: rgba(123, 150, 212, 0.67);
}

.counts > div:last-child {
  align-self: flex-end;
  margin-top: auto;
}
.weatherMain img{
  width: 160px;
  position: relative;
  top: 70px;
}
.weatherMain p{
  position: relative;
  top: 115px;
  right: 10px;
  font-size: 18px;
  color:white;
  font-family: JetBrains Mono;
}
.weatherMain h1{
  font-size: 60px;
  position: relative;
  bottom: 40px;
  left: 50px;
  color: white;
  font-family: Jua;
}
.weatherMain h2{
  position: relative;
  bottom: 90px;
  right: 40px;
  color:white;
  font-family: JetBrains Mono;
}





header{
  height: 75px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #d8dfe3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  
}
.account-info img {
  width: 50px; 
  height: 50px; 
  margin-right: 10px; 
  cursor: pointer;
}
.dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 155px;
  width: 150px;
  padding-left: 20px;
  font-family: Jaldi;
  color: #454d49;
}
.dropdown button:hover {
  background-color: #f9f9f9;
}
.dropdown p {
  display: block;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.dropdown p:hover {
  background-color: #f9f9f9;
}





.charts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

 .line{
  width: 30rem;
  border-radius: 20px;
  margin-top: 30px;
  padding: 10px;
}
.doughnut{
  width: 27rem;
  margin-left: 50px;
} 




  .sideBar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 200px;
  height: 100%;
  flex-shrink: 0;
  border-right: 2px solid #BECEC6;
 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
}
.sideBar h1{
  color: #6A7770;
  font-family: Leckerli One;
  font-size: 38px;
  margin-left: 20px;
}
.options{
  margin-top: 150px;
}
.options li{
  list-style: none;
}
.options ul li a{
  width: 160px;
  height: 45px;
  flex-shrink: 0;
  list-style: none;
  border-radius: 20px 0px 0px 20px;
  background: #6A7770;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}
.options a{
  color: #FFF;
  font-family: Jaldi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.options a.active{
  background: #7B96D4;
}  





.mainJournal{
  width: 100%;
  height: 100%;
}
.mainJournal h1{
  color: rgb(66, 79, 66);
}
.howareyou{
   font-family: IM FELL Great Primer SC;
   font-size: 2.5rem;
   text-align: left;
   margin-left: 270px;
   text-shadow: 2px 2px 4px rgb(255, 255, 255);
}
.journal{
  width: 100%;
  height: 100vh;
  gap: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.journalEntry{
  margin-left: 280px;
}
.journalList{
  width: 480px;
  padding: 20px;
  background: rgba(120, 134, 127, 0.981);
  height: auto;
}
.eachJournal{
  width: 400px;
  height: 100%;
  padding: 50px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  min-width: 400px;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  line-height: 1.5;
}


.eachJournal p{
  max-width: 100%;
  overflow-wrap: break-word;
  margin: 10px;
  padding-bottom: 50px;
  font-size: 0.8rem;
}
.journalStack{
  height: 650px;
}
.journalListMain{
  height: 600px;
  width: 100%;
}
.p-5{
  background: #7B96D4;
  color: white;
  border: black 2px solid;
  width: 370px;
}
.notebook-input textarea{
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.3);
  width: 23rem;
}
.notebook-input button{
  background: white;
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.journalEntry select{
  height: 30px;
}
.randomQuotes{
  background: rgb(120, 139, 120, 0.6);
  height: 250px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
}
.randomQuotes h3{
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}
.textarea-edit{
  width: 20rem;
  height: 100%;
  font-size: 0.8rem;
}





  .mainMood{
  width: 100%;
  height: 100vh;

}

.mood-button{
  width: 70px;
  height: 60px;
  margin-left: 5px;
  background-color: #6A7770;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.biggerEmojiButton{
  font-size: 36px;
}
.mood{
  margin-top: 100px;
  margin-left: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.mood-input{
  width: 350px;
  height: 120px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  border: none;
}
.mood-inputNbutton{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mood-inputNbutton button{
  background: white;
  margin-top: 10px;
  width: 100px;
  height: 32px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.mainMoodList{
  min-width: 45rem;
  margin-left: 90px;
  margin-top: 100px;
  background-color: #7b96d446;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}
.mood-list{
  width: 700px;
}
.eachMood{
  height: 150px;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}  
  





 .userSecondMain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.userSettingBox{
   background-color: white;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   overflow-x: scroll;
   white-space: nowrap;
   border: 1px solid rgb(237, 237, 237);
   gap: 50px;
  
}
.userSettingBox input{
  height: 30px;
  width: 250px;
  margin-bottom: 45px;
  border-radius: 10px;
  margin-left: 30px;
  border: none;
  background-color: #ebf0fb;
  padding: 5px;
  box-shadow: 0px 1px 1px 0px rgb(122, 121, 121, 0.2);
}

.userSettingBox button{
  border: none;
  height: 35px;
  border-radius: 10px;
  width: 110px;
  box-shadow: 0px 2px 2px 0px rgba(120, 134, 127, 0.5);
  cursor: pointer;
  margin-left: 40px;
}
.countBox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.countBox h1{
  font-size: 55px;
  text-shadow: #000;
  position: relative;
  top: 12px;
  right: 20px;
}
.countBox p{
  position: relative;
  bottom: 40px;
  left: 10px;
}
.navUserSetting{
  text-decoration: none;
  position: relative;
  bottom: 25px;
  color: rgb(48, 57, 48);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.navUserSettingContainer {
  margin-top: auto;  
  display: flex;
  justify-content: space-between;
}
.navButtonsContainer {
  position: absolute;
  top: 17.1rem;
  left: 0;
  display: flex;
  justify-content: right;
  transform: translateY(-50%);
  background-color: white;
  padding: 10px;
  height: 20rem;
  margin-left: 201px;
  width: 150px;

}
.navButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.navButtons p {
  margin: 0;
  padding: 10px;
}

.navButtons p:hover {
  background-color: #f5f5f5; 
}
.settingContent{
  margin-left: 300px;
}
.theme-buttons button{
  width: 150px;
  height: 150px;
}
.theme-buttons img{
  width: 150px;
  height: 150px;
}
.theme-buttons{
  display: flex;
  min-width: 300px;
  margin-right: 5rem;
  margin-left: 20rem;
}
.homeSecond{
  margin-top: 30px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.charts{
  margin-bottom: 200px;
} 
.weatherNCount{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}   